body {
    font-family: Arial;
    background: #f0f0f0;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4a6cf7;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

#resultBox {
    margin-top: 20px;
    font-size: 18px;
}
